.leaflet-container {
    width: 100%;
    // background-color: #63b2df;
    // color: rgb(0, 156, 148);
    width: 100%;
    margin-top: $navbar-height;
    height: calc(100vh - #{$navbar-height});
    z-index: 100;

    @include respond-below(xl) {
        margin-top: $navbar-height-lg;
        height: calc(100vh - #{$navbar-height-lg});
    }

    @include respond-below(lg) {
        margin-top: $navbar-height-md;
        height: calc(100vh - #{$navbar-height-md});
    }

    @include respond-below(sm) {
        margin-top: $navbar-height-xs;
        height: calc(100vh - #{$navbar-height-xs});
    }
    
    
}

.leaflet-tile-container svg {
    overflow: visible !important;
    image {
        cursor: pointer;
        color: #63b2df;
    }
}

.leaflet-custom-icon {
    cursor: pointer;
    margin-top: -41px !important;
    margin-left: -12px !important;
    // border-bottom: 2px solid rgba(0,0,0,0.0);
    transition: 0.2s;
    &:hover {
        // border-bottom: 2px solid rgba(0,0,0,0.1);
        margin-top: -45px !important;
    }
}

.date-selector {
    width: 100%;
    height: 360px;
    position: absolute;
    // right: 30px;
    bottom: 0px;
    padding: 0 10px;
    // background-color: #fff;
    // z-index: 1000;
    // border-radius: 12px;
    // box-shadow: 4px 4px 8px rgba(0,0,0,0.3);

    &__center {
        text-align: center;
        margin-top: 20px;
    }

    &__opacity {
        opacity: 0.5;
    }
}

.stages-container {
    padding: 15px 24px;

    .stage {
        width: 100%;
        float: left;
        .stage-marker {
            width: 24px;
            height: 36px;
            display: inline-block;
            margin-right: 10px;
        }
    }   
}