.leaflet-container {
    
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: #63b2df;
    color: rgb(0, 156, 148);
}

.leaflet-tile-container svg {
    overflow: visible !important;
    image {
        cursor: pointer;
        color: #63b2df;
    }
}

.leaflet-custom-icon {
    cursor: pointer;
}